{% extends 'main_n.html' %}
{%load static %}
{% block content %}
<style> 
  input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
</style>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="card-body p-0">
        <form action="{% url 'my_product_n' %}" method="POST">
          {% csrf_token %}
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter Product Name.." name="search" title="Type in a name">
        </form><br>
        {% if search_id %}
        <table class="table table-striped projects" id="myTable">
          <thead>
            <tr>
              <th class="text-center" >
                product Name
              </th>
              <th class="text-center" >
                product Description
              </th>
              <th class="text-center" >
                product category
              </th>
              <th class="text-center">
                product Price
              </th>
              <th class="text-center">
                product quantity
              </th>
              <th class="text-center">
                product Enable/disable
              </th>
              <th class="text-center" >
                image 
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in search_id %}
            <tr>
              <td class="text-center" >
                  <p>
                    {{i.product_name}}
                  </p>
              </td>
              <td class="text-center" >
                <p>
                  {{i.pro_description}}
                </p> 
              </td>
              <td class="text-center" >
                <p>
                  {{i.pro_category}}
                </p>
              </td>
              <td class="text-center">
                
                <p>
                  {{i.Price}}
                </p>
              </td>
              <td class="text-center" > 
                <p>
                  {{i.pro_quantity}}
                </p>
              </td>
              <td class="text-center" >
                <p>
                  {{i.enable}}
                </p>
              </td>
              <td class="text-center" >
                <div >
                  <img src="{{i.pic.url}}" alt="AdminLTELogo" height="60" width="60" style="border-radius: 50%;">
                </div>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-info btn-sm" href="{% url 'productdetails_n' pk=i.id%}">
                  <i class="fas fa-pencil-alt"></i>
                  Edit
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="text-align: center; font-size:large">
          {% if pro.has_previous %}
          <a href="?page={{pro.previous_page_number}}">&laquo</a>
          {% endif %}
          {{pro.number}}{{pro.paginator.num_page}}
          {% if pro.has_next %}
          <a href="?page={{pro.next_page_number}}">&laquo</a>{% endif %}
       </div>
       {% endif %}
       {% if pro %}
       <table class="table table-striped projects" id="myTable">
         <thead>
           <tr>
             <th class="text-center" >
               product Name
              </th>
              <th class="text-center" >
                product Description
              </th>
              <th class="text-center" >
                product category
              </th>
              <th class="text-center">
                product Price
              </th>
              <th class="text-center">
                product quantity
              </th>
              <th class="text-center">
                product Enable/disable
              </th>
              <th class="text-center" >
                image 
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in pro %}
            <tr>
              <td class="text-center" >
                  <p>
                    {{i.product_name}}
                  </p>
              </td>
              <td class="text-center" >
                <p>
                  {{i.pro_description}}
                </p> 
              </td>
              <td class="text-center" >
                <p>
                  {{i.pro_category}}
                </p>
              </td>
              <td class="text-center">
                
                <p>
                  {{i.Price}}
                </p>
              </td>
              <td class="text-center" > 
                <p>
                  {{i.pro_quantity}}
                </p>
              </td>
              <td class="text-center" >
                <p>
                  {{i.enable}}
                </p>
              </td>
              <td class="text-center" >
                <div >
                  <img src="{{i.pic.url}}" alt="AdminLTELogo" height="60" width="60" style="border-radius: 50%;">
                </div>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-info btn-sm" href="{% url 'productdetails_n' pk=i.id%}">
                  <i class="fas fa-pencil-alt"></i>
                  Edit
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="text-align: center; font-size:large">
          {% if pro.has_previous %}
          <a href="?page={{pro.previous_page_number}}">&laquo</a>
          {% endif %}
          {{pro.number}}{{pro.paginator.num_page}}
          {% if pro.has_next %}
          <a href="?page={{pro.next_page_number}}">&laquo</a>{% endif %}
       </div>
       {% endif %}
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
</script>
{% endblock %}