{% extends 'main_a.html' %}
{%load static %}
{% block content %}
<div class="content-wrapper" >
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<section class="content">
				<div class="container-fluid">
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title">Product Details</h3>
						</div>
						<!-- /.card-header -->
						<form action="{% url 'upload_product_a' %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% if msg %}
							<p style="color: black; font-size: 20px; text-align: center;"><b>{{msg}}</b><hr></p>
							{% endif %}
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>product category</label>
											<select class="form-control" name="pcategory" style="text-align: center;">
												<option value="Seeds">Seeds</option>
												<option value="fertilizer">fertilizer</option>
											</select>
										</div>
										<!-- /.form-group -->
										<div class="form-group">
											<label>product Name</label>
											<input type="text" name="pname" class="form-control" id="exampleInputPassword1" placeholder="Enter product Name">
										</div>
										<!-- /.form-group -->
									</div>
									<!-- /.col -->
									<div class="col-md-6">
										<div class="form-group">
											<label>Product Price</label>
											<input type="number" name="price"  class="form-control" placeholder="Enter product price " style="width: 100%;">
										</div>
										<!-- /.form-group -->
										<div class="form-group">
											<label>product quantity</label>
											<input type="number" name="pquantity" class="form-control" id="exampleInputPassword1" placeholder="Enter product quantity">
										</div>
										<!-- /.form-group -->
									</div>
									<!-- /.col -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Product Description</label>
											<textarea id="inputDescription" name="pdescription" class="form-control" rows="4"></textarea>
										</div>
										<!-- /.form-group -->
									</div>
									<!-- /.col -->
									<!-- /.col -->
								</div>
                                <div class="form-group">
                                    <label>product image</label>
                                    <input type="file" name="pic">
                                </div>
								<div>
									<input type="submit" name="submit" class="btn btn-primary" value="Submit" style="width: 100%;">
								</div>
							</div>
							<!-- /.card-body -->
						</form>
						<!-- /.row -->
					</div>
					<!-- /.card-body -->
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock%}